.div-logIn{

    width:100vw;
    height: 200px;
form{
display: flex;
flex-flow:row nowrap;
justify-content: center;
align-items: center;
h1{
    text-align: center;
    color: rgb(155, 62, 77);
}
  
       
    .but-log{
        cursor: pointer;
        background-color: blue;
        color: white;
        margin-top: 10px;
        width: 100%;
        transition: background-color 0.5s ease ;
       
    }

        .but-log:hover{
            background-color: rgb(241, 158, 172);
           color:black;
        }
}
}